<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright jd
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bdp.hydra.mysql.persistent.dao.Annotation">

    <resultMap id="AnnResultMap" type="AnnEntity">
        <result property="key" column="k" />
    </resultMap>

    <insert id="addAnnotation" parameterType="AnnEntity" >
        INSERT INTO annotation (k,value,ip,port,timestamp,duration,spanId,traceId, service)
        VALUES(#{key},#{value},#{ip},#{port},#{timestamp},#{duration},#{spanId},#{traceId}, #{service})
    </insert>

    <select id="getAnnotations" parameterType="Map" resultMap="AnnResultMap">
        SELECT * FROM annotation WHERE spanId in
        <foreach item="item" index="index" collection="spans" open="(" separator="," close=")" >
            #{item.id}
        </foreach>
    </select>

    <delete id="deleteAllAnnotation">
        delete from annotation
    </delete>
</mapper>