<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:mybatis/mysql.properties"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
    </bean>
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

    <bean id="appParaMapper" class="com.jd.bdp.hydra.dubbomonitor.persistent.dao.impl.AppMapperImpl">
        <property name="sqlSession" ref="sqlSessionTemplate" />
    </bean>
    <bean id="serviceParaMapper" class="com.jd.bdp.hydra.dubbomonitor.persistent.dao.impl.ServiceMapperImpl">
        <property name="sqlSession" ref="sqlSessionTemplate" />
    </bean>

    <bean id="appParaService" class="com.jd.bdp.hydra.dubbomonitor.persistent.service.impl.AppServiceImpl" />
    <bean id="serviceParaService" class="com.jd.bdp.hydra.dubbomonitor.persistent.service.impl.ServiceServiceImpl" />
    <bean id="seedDataService" class="com.jd.bdp.hydra.dubbomonitor.persistent.dao.impl.SeedMapperImpl">
        <property name="sqlSession" ref="sqlSessionTemplate" />
    </bean>

</beans>