<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jd.bdp.hydra.dubbomonitor.persistent.dao.AppMapper">

    <resultMap id="AppResultMap" type="AppEntity">
    </resultMap>

    <!--新增加一个App-->
    <insert id="addApp" parameterType="AppEntity" useGeneratedKeys="true">
        <selectKey resultType="int" keyProperty="id" order="AFTER">
           SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO TB_PARA_APP(NAME) VALUES(#{name})
    </insert>
    <!--删除一个App-->
    <delete id="deleteApp" parameterType="AppEntity">
        DELETE FROM TB_PARA_APP WHERE TB_PARA_APP.id=#{id}
    </delete>
    <!--修改一个App-->
    <update id="updateApp" parameterType="AppEntity">
        UPDATE TB_PARA_APP SET NAME=#{name} WHERE ID=#{id}
    </update>
    <!--查询-->
    <select id="getAppById" parameterType="int" resultType="AppEntity">
        SELECT *  FROM TB_PARA_APP WHERE ID = #{id}
    </select>
    <!-- 查询服务器列表 -->
    <select id="getAppAll" resultType="AppEntity" resultMap="AppResultMap">
            SELECT * FROM TB_PARA_APP
    </select>

    <!-- 根据name查app -->
    <select id="getAppByName" parameterType="String" resultType="AppEntity">
        SELECT *  FROM TB_PARA_APP WHERE NAME = #{name}
    </select>
    <!-- 删除所有app -->
    <delete id="deleteAllApp">
        DELETE FROM TB_PARA_APP
    </delete>
</mapper>