<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>
    <typeAliases>
        <typeAlias alias="AppEntity" type="com.jd.bdp.hydra.dubbomonitor.persistent.entity.AppPara" />
        <typeAlias alias="serviceEntity" type="com.jd.bdp.hydra.dubbomonitor.persistent.entity.ServicePara" />
        <typeAlias alias="SeedEntity" type="com.jd.bdp.hydra.dubbomonitor.persistent.entity.SeedData" />
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/ServiceMapper.xml"/>
        <mapper resource="mybatis/AppMapper.xml"/>
        <mapper resource="mybatis/SeedMapper.xml"/>
    </mappers>
</configuration>